<div class="container" fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40" [@visibility] = "visibility" >
    
  <md-card *ngIf="dish" [@expand]>
    <md-card-header>
      <md-card-title>
        <h3>{{dish.name | uppercase}}</h3>
      </md-card-title>
    </md-card-header>
    <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
    <md-card-content>
      <p>{{dish.description}}
      </p>
    </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>          
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </md-card-actions>
    </md-card>
</div>

<div fxFlex="40" [@visibility] = "visibility" >
  <div  *ngIf="dish" [@expand]>
    <md-list>
        <h2>Comments</h2>
      <md-list-item *ngFor="let comment of dish.comments">
        <p mdLine>{{comment.comment}}</p>
        <p mdLine>{{comment.rating}} Stars</p>
        <p mdLine>--{{comment.author}} {{comment.date | date}}</p>
      </md-list-item>
    
      <md-list-item *ngIf="commentForm.status=='VALID'">
        <p md-line>{{commentForm.value.comment}}</p>
        <p md-line>{{commentForm.value.rating}} Stars</p>
        <p md-line>-- {{commentForm.value.author}}</p>
      </md-list-item>
    </md-list>
  </div>
  <div [hidden]="dish || errMess">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>

  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
  
  <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <p>
        <md-input-container class="full-width"
        dividerColor="{{(commentFormErrors.author) ? 'warn' : 'primary'}}">
          <input mdInput formControlName="author" placeholder="Name" type="text" minlength="2" required>
          <md-hint>
            <span [hidden]="!(commentFormErrors.author)">
              {{commentFormErrors.author}}</span>
          </md-hint>
        </md-input-container>
      </p>
     <p class="full-width">
        <md-slider mdInput formControlName="rating" max="5" min="1" value="5" step="1" thumbLabel tickInterval="1"></md-slider>
      </p>
    
    <p>
        <md-input-container class="full-width" 
        dividerColor="{{(commentForm.comment) ? 'warn' : 'primary'}}">
          <textarea mdInput formControlName="comment" placeholder="Comment" rows=10 required></textarea>
          <md-hint>
            <span [hidden]="!(commentFormErrors.comment)">
              {{commentFormErrors.comment}}</span>
          </md-hint>
        </md-input-container>
      </p>
      <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
    </form>
  

</div>

</div>
