<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px">

  <div fxFlex="33" >
    <div  *ngIf="dish" [@expand]>
      <md-card>
        <md-card-header>
          <div md-card-avatar></div>
          <md-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </md-card-title>
        </md-card-header>
        <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}} height="400">
        <md-card-content>
          <p class="text-justify">{{dish.description}}</p>
        </md-card-content>
      </md-card>
    </div>
    <div [hidden]="dish">
        <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
      </div>
  </div>

  <div fxFlex = "33" >
  <md-card *ngIf="promotion" [@expand]>
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>
        <h3>{{promotion.name | uppercase}}</h3>
      </md-card-title>
    </md-card-header>
    <img md-card-image src={{promotion.image}} alt={{promotion.name}} height="400">
    <md-card-content>
      <p class="text-justify">{{promotion.description}}</p>
    </md-card-content>
  </md-card>
  
  </div>

  <div fxFlex="33" >
  <md-card *ngIf="leader" [@expand]>
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>
        <h3>{{leader.name | uppercase}}</h3>
      </md-card-title>
    </md-card-header>
    <img md-card-image src={{leader.image}} alt={{leader.name}} height="400">
    <md-card-content>
      <p class="text-justify">{{leader.description}}</p>
    </md-card-content>
  </md-card>
  </div>

</div>